body {
    background-image: url("/images/elpapu.jpg");
    
}
.contenedor {   
}
.content-chat {
    min-height: 100vh;

}
#contentWrap {
    display: none;
}
footer {
    width: 100%;
    background: #faf5f5;   
    padding-top: 10px;
    margin-top: 100%;
  }


  .footer_container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo{
    width: 180px;
    font-size: 16px;
    font-weight: bold;
  }

  .fa-user {
      margin-right: 5%;
  }

  .responsive {
    margin-top: 10%;
    }


@media (max-width:768px) {
    body {
        background-position: center;
    }
    #responsive-user {
        order: -1;
        margin-bottom: 10px;
        width: 96%;
        margin-left: 2%;
    }
    .responsive {
        width: 90%;
    
    }
}

