body {
    background-image: url("/images/elpapu.jpg");
}

#contentWrap {
    display: none;
}
@media (max-width:768px) {
    body {
        background-image: url("/images/elpapu.jpg");
        background-position: center;
    }
    #responsive-user {
        order: -1;
        margin-bottom: 10px;
        width: 96%;
        margin-left: 2%;
    }
    .responsive {
        width: 90%;
    }
}

